<div id='centerer'>
  <div id='menu'>
    <div class='menu-item' onclick='openPage(event)'>Search</div>
    <div class='menu-item' onclick='openPage(event)'>Library</div>
  </div>
  <div id='content'>
    <canvas style='display: none;'id='myCanvas'></canvas>
    <input placeholder='Search...' type='text' id='search-input' style='width: 200px;'></input>
    <img id='load-gif' style='margin: 20px 0;visibility: hidden' src='assets/load.gif'/>
    <div id='results'></div>
  </div>
</div>