html{
  background-color: #222;
  height: 100%;
  width: 100%;
  font-family: Alata;
  
}

*{
  border-color: white;
  color: white;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  width: 100%;
  height: 100%;
}



.btn{
  position: relative;
  width: 140px;
  height: 25px;
  border: 1px solid white;
  text-align: center;
  line-height: 25px;
  user-select: none;
  margin-bottom: 10px;
  padding: 5px;
}

.btn:hover{
background-color: white;
color: black;
}


.stupid{
  position: 'absolute';
  top: '0px';
  left: '0px';
}

.song-item{
  height: fit-content;
    padding: 5px;
    padding-left: 15px;
    user-select: none;
    box-sizing: border-box;
    border-left: 2px solid white;
    margin-bottom: 15px;
    display: flex;
}

.song-item:hover p {
  box-sizing: border-box;
  transform: translateX(10px);
  /* border-bottom: 2px solid; */
}

.song-item p{
  transition-duration: .05s;
}

.artist-text{
  color: #aaa;
}

#results{
  margin-top: 20px;
  width: 800px;
  height: fit-content;
  transition-duration: .1s;
  overflow-y: scroll;
}

p{
  margin: 0;
  text-indent: 10px;
  line-height: 60px;
  font-size: 24px;
  
}

#search-input{
  border: 1px solid rgba(255,255,255,.3);
  padding: 10px;
  margin: 20px;
  height: 26px;
  width: 50%!important;
  font-size: 24px;
  text-indent: 2px;
  margin-bottom: 10px;
  background: transparent;
  color: white;
  font-family: "Roboto Mono";
}

#search-input:focus{
  outline: none;
}

.img-item{
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.song-item:hover{
  cursor: pointer;
  /* background-color: lightblue; */
  
}
.song-item:active p{
  transform: translate(10px) scale(.95);
  /* background-color: #74aad6; */
  /* transform: scale(.9); */
}
.btn:hover{
  cursor: pointer;
}



