html{
  background-color: #222;
  height: 100%;
  width: 100%;
  font-family: Alata;
  
}

*{
  border-color: white;
  color: white;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  width: 100%;
  height: 100%;
}



.btn{
  position: relative;
  width: 140px;
  height: 25px;
  border: 1px solid white;
  text-align: center;
  line-height: 25px;
  user-select: none;
  margin-bottom: 10px;
  padding: 5px;
}

.btn:hover{
background-color: white;
color: black;
}

.song-item{
  display: flex;
  height: 120px;
  box-sizing: border-box;
  user-select: none;
    
    
  margin-bottom: 15px;
    
  padding-left: 15px;
  border-left: 2px solid white;
}


.song-item p{
  transition-duration: .05s;
}

.artist-text{
  color: #aaa;
}

#results{
  margin-top: 20px;
  width: 800px;
  height: fit-content;
  transition-duration: .1s;
  overflow-y: scroll;
}

p{
  font-size: 24px;
  width: fit-content;
  height: fit-content;
}

.magic{
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#search-input{
  border: 1px solid rgba(255,255,255,.3);
  padding: 10px;
  margin: 20px;
  height: 26px;
  width: 50%!important;
  font-size: 24px;
  text-indent: 2px;
  margin-bottom: 10px;
  background: transparent;
  color: white;
  font-family: "Roboto Mono";
}

#search-input:focus{
  outline: none;
}

.img-item{
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.song-item:hover{
  cursor: pointer;
  /* background-color: lightblue; */
}

.btn:hover{
  cursor: pointer;
}



